<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body">
          <div *ngIf="currentUser$ | async as user">
            <h3 class="mb-3">Benvenuto, {{user.nomeTitolare}} {{user.cognomeTitolare}}</h3>
          </div>
          <div class="mb-4">
            <label for="quantita" class="form-label">Numero movimenti da visualizzare:&nbsp;</label>
            <select id="quantita" class="form-select w-auto d-inline-block"
                [(ngModel)]="quantita"
                (ngModelChange)="onQuantitaChange($event)">
            <option *ngFor="let n of [1,5,10,20,50]" [value]="n">{{ n }}</option>
            </select>



          </div>
          <div *ngIf="movList$ | async as movList">
            <h5 class="mb-4">Saldo: <span class="text-success">{{movList.saldo | currency:'EUR'}}</span></h5>
            <h6 class="mb-3">Ultimi movimenti</h6>
            <ul class="list-group">
              <div *ngFor="let mov of movList.movimenti | slice:0:quantita" >
                <app-movimento [mov]="mov" (details)="goToDetails($event)"></app-movimento>
              </div>
            </ul>
          </div>
          <form [formGroup]="exportForm" (ngSubmit)="onExport()">

  <div class="mb-3">
    <label class="form-label">Formato</label>
    <select class="form-select" formControlName="formato">
      <option value="csv">CSV</option>
      <option value="xlsx">Excel</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">
    Scarica
  </button>
</form>

        </div>
      </div>
    </div>
  </div>
</div>