<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body">
          <div *ngIf="currentUser$ | async as user">
            <h3 class="mb-3">Benvenuto, {{user.nomeTitolare}} {{user.cognomeTitolare}}</h3>
          </div>
          <div class="mb-4">
            <label for="quantita" class="form-label">Numero movimenti da visualizzare:&nbsp;</label>
            <select id="quantita" class="form-select w-auto d-inline-block"
                [(ngModel)]="quantita"
                (ngModelChange)="onQuantitaChange($event)">
            <option *ngFor="let n of [1,5,10,20,50]" [value]="n">{{ n }}</option>
            </select>



          </div>
          <div *ngIf="movList$ | async as movList">
            <h5 class="mb-4">Saldo: <span class="text-success">{{movList.saldoFinale | currency:'EUR'}}</span></h5>
            <h6 class="mb-3">Ultimi movimenti</h6>
            <ul class="list-group">
              <li *ngFor="let mov of movList.movimenti | slice:0:quantita" class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{mov.descrizioneEstesa}}</span>
                <span>{{ mov.categoriaMovimento?.NomeCategoria }}</span>
                <span class="text-success"
                    *ngIf ="mov?.categoriaMovimento?.tipologia === true">
                  {{mov?.saldo | currency:'EUR'}}
                </span>
                <span class="text-danger"
                    *ngIf ="mov?.categoriaMovimento?.tipologia === false">
                  - {{mov?.saldo | currency:'EUR'}}
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>